html {
  color: #333;
  background: #fff;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-rendering: optimizelegibility;
}

body {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
}

.container {
  width: 100%;
  max-width: 600px;
  padding: 20px;
  box-sizing: border-box;
  background-color: #ffffff;
}